<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>semi_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>kr.kh.app.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>kr.kh.app.controller.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/member/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>kr.kh.app.controller.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/member/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>kr.kh.app.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/member/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPage</display-name>
    <servlet-name>MyPage</servlet-name>
    <servlet-class>kr.kh.app.controller.MyPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPage</servlet-name>
    <url-pattern>/member/mypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPageUpdate</display-name>
    <servlet-name>MyPageUpdate</servlet-name>
    <servlet-class>kr.kh.app.controller.MyPageUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageUpdate</servlet-name>
    <url-pattern>/member/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Branch</display-name>
    <servlet-name>Branch</servlet-name>
    <servlet-class>kr.kh.app.controller.Branch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Branch</servlet-name>
    <url-pattern>/branch/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchInsert</display-name>
    <servlet-name>BranchInsert</servlet-name>
    <servlet-class>kr.kh.app.controller.BranchInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchInsert</servlet-name>
    <url-pattern>/branch/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchDelete</display-name>
    <servlet-name>BranchDelete</servlet-name>
    <servlet-class>kr.kh.app.controller.BranchDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchDelete</servlet-name>
    <url-pattern>/branch/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DogInsert</display-name>
    <servlet-name>DogInsert</servlet-name>
    <servlet-class>kr.kh.app.controller.DogInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogInsert</servlet-name>
    <url-pattern>/dog/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DogList</display-name>
    <servlet-name>DogList</servlet-name>
    <servlet-class>kr.kh.app.controller.DogList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogList</servlet-name>
    <url-pattern>/dog/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Room</display-name>
    <servlet-name>Room</servlet-name>
    <servlet-class>kr.kh.app.controller.Room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Room</servlet-name>
    <url-pattern>/room/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomDetail</display-name>
    <servlet-name>RoomDetail</servlet-name>
    <servlet-class>kr.kh.app.controller.RoomDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomDetail</servlet-name>
    <url-pattern>/room/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomUpdate</display-name>
    <servlet-name>RoomUpdate</servlet-name>
    <servlet-class>kr.kh.app.controller.RoomUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomUpdate</servlet-name>
    <url-pattern>/room/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomDelete</display-name>
    <servlet-name>RoomDelete</servlet-name>
    <servlet-class>kr.kh.app.controller.RoomDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomDelete</servlet-name>
    <url-pattern>/room/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomInsert</display-name>
    <servlet-name>RoomInsert</servlet-name>
    <servlet-class>kr.kh.app.controller.RoomInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomInsert</servlet-name>
    <url-pattern>/room/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointMain</display-name>
    <servlet-name>PointMain</servlet-name>
    <servlet-class>kr.kh.app.controller.PointMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointMain</servlet-name>
    <url-pattern>/point/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointInsert</display-name>
    <servlet-name>PointInsert</servlet-name>
    <servlet-class>kr.kh.app.controller.PointInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointInsert</servlet-name>
    <url-pattern>/point/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointUpdate</display-name>
    <servlet-name>PointUpdate</servlet-name>
    <servlet-class>kr.kh.app.controller.PointUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointUpdate</servlet-name>
    <url-pattern>/point/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberList</display-name>
    <servlet-name>MemberList</servlet-name>
    <servlet-class>kr.kh.app.controller.MemberList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberList</servlet-name>
    <url-pattern>/member/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LevelUpdate</display-name>
    <servlet-name>LevelUpdate</servlet-name>
    <servlet-class>kr.kh.app.controller.LevelUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LevelUpdate</servlet-name>
    <url-pattern>/level/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SizeUpdate</display-name>
    <servlet-name>SizeUpdate</servlet-name>
    <servlet-class>kr.kh.app.controller.SizeUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SizeUpdate</servlet-name>
    <url-pattern>/size/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceUpdate</display-name>
    <servlet-name>PriceUpdate</servlet-name>
    <servlet-class>kr.kh.app.controller.PriceUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceUpdate</servlet-name>
    <url-pattern>/price/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>kr.kh.app.controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservMain</display-name>
    <servlet-name>ReservMain</servlet-name>
    <servlet-class>kr.kh.app.controller.ReservMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservMain</servlet-name>
    <url-pattern>/reservation/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajex</display-name>
    <servlet-name>Ajex</servlet-name>
    <servlet-class>kr.kh.app.controller.Ajex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajex</servlet-name>
    <url-pattern>/ajex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservSelect</display-name>
    <servlet-name>ReservSelect</servlet-name>
    <servlet-class>kr.kh.app.controller.ReservSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservSelect</servlet-name>
    <url-pattern>/reservation/select</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservBrList</display-name>
    <servlet-name>ReservBrList</servlet-name>
    <servlet-class>kr.kh.app.controller.ReservBrList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservBrList</servlet-name>
    <url-pattern>/reservation/branch/roomlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomSelect</display-name>
    <servlet-name>RoomSelect</servlet-name>
    <servlet-class>kr.kh.app.controller.RoomSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomSelect</servlet-name>
    <url-pattern>/room/select</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserSelect2</display-name>
    <servlet-name>ReserSelect2</servlet-name>
    <servlet-class>kr.kh.app.controller.ReserSelect2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserSelect2</servlet-name>
    <url-pattern>/reservation/select2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservInsert</display-name>
    <servlet-name>ReservInsert</servlet-name>
    <servlet-class>kr.kh.app.controller.ReservInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservInsert</servlet-name>
    <url-pattern>/reservation/insert</url-pattern>
    <display-name>DogDelete</display-name>
    <servlet-name>DogDelete</servlet-name>
    <servlet-class>kr.kh.app.controller.DogDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogDelete</servlet-name>
    <url-pattern>/dog/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DogUpdate</display-name>
    <servlet-name>DogUpdate</servlet-name>
    <servlet-class>kr.kh.app.controller.DogUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogUpdate</servlet-name>
    <url-pattern>/dog/update</url-pattern>
  </servlet-mapping>
</web-app>