<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>semi_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>kr.kh.app.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>kr.kh.app.controller.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/member/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>kr.kh.app.controller.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/member/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>kr.kh.app.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/member/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPage</display-name>
    <servlet-name>MyPage</servlet-name>
    <servlet-class>kr.kh.app.controller.MyPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPage</servlet-name>
    <url-pattern>/MyPage</url-pattern>
    <url-pattern>/member/mypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Branch</display-name>
    <servlet-name>Branch</servlet-name>
    <servlet-class>kr.kh.app.controller.Branch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Branch</servlet-name>
    <url-pattern>/branch/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchInsert</display-name>
    <servlet-name>BranchInsert</servlet-name>
    <servlet-class>kr.kh.app.controller.BranchInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchInsert</servlet-name>
    <url-pattern>/branch/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DogInsert</display-name>
    <servlet-name>DogInsert</servlet-name>
    <servlet-class>kr.kh.app.controller.DogInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogInsert</servlet-name>
    <url-pattern>/dog/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DogList</display-name>
    <servlet-name>DogList</servlet-name>
    <servlet-class>kr.kh.app.controller.DogList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogList</servlet-name>
    <url-pattern>/dog/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DogMain</display-name>
    <servlet-name>DogMain</servlet-name>
    <servlet-class>kr.kh.app.controller.DogMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogMain</servlet-name>
    <url-pattern>/dog/main</url-pattern>
  </servlet-mapping>
</web-app>