<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.PointDAO">
	<insert id="insertPoint">
		insert into point(po_point, po_content, po_me_id) values(#{point.po_point},#{point.po_content},#{point.po_me_id})
	</insert>
	<select id="selectPointList" resultType="kr.kh.app.vo.PointVO">
		select * from point order by po_num desc
	</select>
	<update id="updatePoint">
		update point set 
		po_point = #{point.po_point},
		po_content = #{point.po_content}
		where po_num = #{point.po_num}
	</update>
	<select id="selectMyPointList" resultType="kr.kh.app.vo.PointVO">
		select * from point where po_me_id = #{user.me_id}
	</select>
	<delete id="deletePoint">
		delete from point where po_num = #{point.po_num}
	</delete>
</mapper>
