<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.PriceDAO">
	<update id="updatePrice">
		update price set pr_price = #{price.pr_price} where pr_si_name = #{price.pr_si_name} 
	</update>
	<select id="getSizePrice" resultType="kr.kh.app.vo.PriceVO">
		select * from price where pr_si_name = #{size}
	</select>
</mapper>