<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.ReservDAO">
	<select id="selectMyReservArray" resultType="kr.kh.app.vo.ReservationVO">
		select * from reservation where re_me_id = #{user.me_id}
	</select>
	<insert id="insertReserv">
		insert into reservation(re_num, 
			re_s_count, re_m_count, re_l_count,
			 re_price, re_use_point,
			  re_add_point, re_me_id, re_date,
			  re_end_date)
		values
			(#{reserv.re_num},#{reserv.re_s_count}, #{reserv.re_m_count}, #{reserv.re_l_count}, 
			#{reserv.re_price}, #{reserv.re_use_point}, 
			#{reserv.re_add_point}, #{reserv.re_me_id}, #{reserv.re_date}, 
			#{reserv.re_end_date}) 
	</insert>
	<update id="updateReserv">
		update reservation set
		re_add_point = #{reserv.re_add_point},
		re_use_point = #{reserv.re_use_point},
		re_real_price = #{reserv.re_real_price}
		where re_num = #{reserv.re_num}
	</update>
	<select id="selectReservArray">
		select * from reservation
	</select>
	<update id="updateReservState">
		update reservation set
		re_state = (case when re_real_price is null then '미완료' else '완료' end)
		where re_num = #{reserv.re_num}
	</update>
	
</mapper>
