<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.RoomDAO">
	<!-- 메인 상단바 객실보기 클릭 후, 첫화면(방 전체보기) -->
	<select id="selectRoomList" resultType="kr.kh.app.vo.RoomVO">
		select * from room
	</select>
	<!-- 객실 클릭 후, 그 객실의 상세페이지 -->
	<select id="selectRoom" resultType="kr.kh.app.vo.RoomVO">
		select * from room where ro_num = #{ro_num}
	</select>
	<!-- 방 추가 -->
	<insert id="insertRoom">
		insert into room(ro_name, ro_detail, ro_br_num, ro_max_cap) value(#{room.ro_name}, #{room.ro_detail},  #{room.ro_br_num},  #{room.ro_max_cap})
	</insert>
	<!-- 방 수정 -->
	<update id="updateRoom">
		update room set 
		ro_name =#{room.ro_name},
		ro_detail = #{room.ro_detail},
		ro_max_cap = #{room.ro_max_cap}
		where ro_num = #{room.ro_num}
	</update>
	<!-- 방 삭제 -->
	<delete id="deleteRoom">
		delete room from where ro_num = #{ro_num}
	</delete>
	<!-- 지점에 맞는 방 선택 -->
	<select id="selectRoomByBranch" resultType="kr.kh.app.vo.RoomVO">
		select * from room
		<if test="br_num != 0">
		where ro_br_num = #{br_num}
		</if>
		 
	</select>
	<select id="selectSize" resultType="kr.kh.app.vo.RoomVO">
		select * from room where ro_detail = #{d_size}
	</select>
	<select id="selectReservationRoom" resultType="kr.kh.app.vo.RoomVO">
		select * from room where ro_detail = #{d_size} and ro_br_num = #{br_num}
	</select>
</mapper>