<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.SizeDAO">
	<update id="updateSize">
		update size set si_min_kg = #{size.si_min_kg} where si_name = #{size.si_name} 
	</update>
	<select id="selectSize" resultType="kr.kh.app.vo.SizeVO">
		select * from size where si_name = #{si_name}
	</select>
</mapper>